/* @import "tailwindcss"; */

.nav-scrolled {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.service-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

/* Style pour le sélecteur de langue dans le header */
.lang-selector-container select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%232E5D35' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

/* Cache la flèche par défaut */
.lang-selector-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


/* Override des styles Flowbite pour les indicateurs */

.carousel-indicator {
  background-color: #4ade80 !important;
}

.carousel-indicator:hover {
  background-color: #86efac !important;
}

.carousel-indicator[aria-current="true"] {
  background-color: #22c55e !important;
}

@media only screen and (max-width: 600px) {
  .carousel-content-mobile {
    display: none !important;
  }
}